
.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success- rgb(179,175,163)), var(--bs-bg-opacity)) !important;
  }

.couleurfond
{
    background: linear-gradient(to right, rgb(179,175,163) 50%, rgb(179,175,163) 50%);
}

.fond
{
    background-image: url(../img/Fond.jpg);
    width: 100px;
    height: 100px;
    position: relative;
}

.titre
{
    padding-top: 150px;
    position: absolute;
    top: -150px;
    left: 100px;
    color:rgb(255,94,146);
    font-size: 40px;
}

/* naviguation de la page */
.texte1
{
    display: flex;
}
  
.texte
{
    padding-top:270px;
}
  
.vertical
{
    vertical-align: middle;
    margin-right: 15px;

}

a
{
    color: white;
    text-decoration:none;
}
a:hover
{
    color: black;
}

.profil
{
    padding-left:325px; 
}
  
/* taille de la police */
#taille0
{
    font-size: 25px;
}
  
#taille1
{
    font-size: 15px;
    padding-top:10px;
}

/* le pied page */
  .footerRubrique
{
    border:2px solid black;
    display: flex;  
}

#fondlogo
{
    background-color: black;
}

/* picto + adresse */
#adresse
{
    background-image: url(../images/adresse.png);
    width: 75px;
    height: 85px;
    margin-left: 112.5px;
}

#adressetexte
{
    margin-top: 35px;
    margin-left: 85px;
}

/* picto + mail */
#mail
{
    background-image: url(../images/mail.png);
    width: 75px;
    height: 50px;
    margin-left: 395px;
    margin-top: 20px;
}

#mailtexte
{
    margin-left: 85px;
    margin-top: 15px; 
}

/* picto + telephone */
#telephone
{
    background-image: url(../images/telephone.png);
    width: 41px;
    height: 85px;
    margin-left: 395px; 
}

#telephonetexte
{
    margin-left: 45px;
    margin-top: 35px;  
}

/* */





/* network */
#network
{
    display: flex;
    margin-left: 20px;
}

/* picto + facebook */
#facebook
{
    background-image: url(../images/facebook.png);
    width: 50px;
    height: 50px;
}

#facebooktexte{
    margin-top: 50px;
    margin-left: -5px;
    margin-right: 20px;
}

/* picto + twitter */
#twitter
{
    background-image: url(../images/twitter.png);
    width: 65px;
    height: 50px;
    margin-left: 20px;
}

#twittertexte{
    margin-top: 50px;
}

li#twitter::marker
{
    text-decoration:none
}
/* picto + linkedin */
#linkedin
{
    background-image: url(../images/linkedin.png);
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#linkedintexte
{
    margin-top: 50px;
}

form.formulaire
{
    margin-left:500px;
    margin-top:100px;
}

div#sub1
{
    width: 100%;
}